<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableListDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3F2A79E1DA90D99006F1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F2A7B71DA90D99006F1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F2A7C21DA90D99006F1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
